{% extends "layout.html" %}

{% block page_title %}
Prototype service
{% endblock %}

{% block content %}


<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Report a death</h1>
      <p class="lede">When someone dies, you can let most government organisations know in one go.</p>
      <p>As soon as you feel ready, you'll need to give some details about the person who died. You'll
        only need to do this once.
      </p>
      <p>The information you give will be used to:</p>
        <ul class="list list-bullet">
            <li>stop any benefits or services - for example, their State Pension</li>
            <li>protect their identity - for example, by cancelling their passport</li>
            <li>prevent overpayments from any benefits they may have received</li>
          </ul>
      <h2 class="heading-medium">Before you start</h2>
      <p>You'll need your National Insurance number, as well as:</p>
      <ul class="list list-bullet">
        <li>the name of the person who died</li>
        <li>their National Insurance number</li>
        <li>their date of death</li>
        <li>their date of birth</li>
        <li>their most recent postcode</li>
      </ul>
      <div class="form-group">
          <a class="button button-start" href="2-details-deceased" role="button">Start now</a>
        </div>
      <h2 class="heading-medium">Staying updated</h2>
      <p>After you have given details about the death, you can choose to get updates on what's happening.</p>
      <div class="panel panel-border-wide">
          <p>You’ll need to prove your identity before you can get updates.
            There’s information about how to do this at the end of this service.
          </p>
        </div>
    </div>

</main>

{% endblock %}
