{% extends "layout.html" %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}


<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} 
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">About the person who died</h1>
      <form method="get" autocomplete="off">
      <div class="form-group">
        <label class="form-label-bold" for="first-name-2">First name</label>
        <input class="form-control" id="first-name-2" name="first-name-2" type="text">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="last-name-2">Last name</label>
        <input class="form-control" id="last-name-2" name="last-name-2" type="text">
      </div>

      <div class="form-group">
        <fieldset>
          <legend>
            <span class="form-label-bold">Date of death</h2>
            <span class="form-hint" id="dod-hint">For example, 1 2 2018</span>
          </legend>
          <div class="form-date">
            <div class="form-group form-group-day">
              <label class="form-label" for="dod-day">Day</label>
              <input class="form-control" id="dod-day" name="dod-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
            </div>
            <div class="form-group form-group-month">
              <label class="form-label" for="dod-month">Month</label>
              <input class="form-control" id="dod-month" name="dod-month" type="number" pattern="[0-9]*" min="0" max="12">
            </div>
            <div class="form-group form-group-year">
              <label class="form-label" for="dod-year">Year</label>
              <input class="form-control" id="dod-year" name="dod-year" type="number" pattern="[0-9]*" min="0" max="2016">
            </div>
          </div>
        </fieldset>
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="postcode">
          Postcode
          <span class="form-hint">Enter their most recent postcode so the correct local authority can be contacted.
          </span>
        </label>
        <input class="form-control form-control-1-4" id="postcode" type="text" name="ni-number">
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="ni-number">
          National Insurance number
          <span class="form-hint">It's on their National Insurance card, benefit letter, payslip or P60.
          <br>For example, ‘QQ 12 34 56 C’.
          </span>
        </label>
        <input class="form-control" id="ni-number" type="text" name="ni-number">
      </div>
      <div class="form-group">
          <fieldset>
            <legend>
              <span class="form-label-bold">Date of birth</h2>
              <span class="form-hint" id="dob-hint">For example, 3 5 2016</span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="dob-day">Day</label>
                <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="dob-month">Month</label>
                <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="dob-year">Year</label>
                <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
              </div>
            </div>
          </fieldset>
        </div>
        
       

      <!--  <div class="form-group">
            <fieldset>
              <legend>
                <span class="form-label-bold">Date of death</h2>
                <span class="form-hint" id="dob-hint">For example, 3 5 2017</span>
              </legend>
              <div class="form-date">
                <div class="form-group form-group-day">
                  <label class="form-label" for="dob-day">Day</label>
                  <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                </div>
                <div class="form-group form-group-month">
                  <label class="form-label" for="dob-month">Month</label>
                  <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                </div>
                <div class="form-group form-group-year">
                  <label class="form-label" for="dob-year">Year</label>
                  <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                </div>
              </div>
            </fieldset>
          </div>
        -->

      
      <a class="button" href="3-details-notifier" role="button">Continue</a>
      </form>
    </div>
  </div>
  
</main>

{% endblock %}