{% extends "layout.html" %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight padding-small">
        <h1 class="bold-large m-b-s">Notification complete</h1>
        <p><strong class="heading-small">You have given details about the death of Alice Smith.<br>Your reference number is AB12345YZ.</strong></p>
      </div>
     <!--   <h2 class="heading-medium">Thank you</h2>
      <p>You do not need to do anything else.</p>-->

      <form>
        <div class="form-group">
          <fieldset>
      
            <legend>
              <h1 class="heading-medium">Do you want to be kept up to date with progress?</h1>
            </legend>
      
            <div class="multiple-choice" data-target="contact-by-email">
              <input id="example-contact-by-email" type="radio" name="radio-contact-group" value="Yes">
              <label for="example-contact-by-email">Yes</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
              <label class="form-label" for="contact-email">You'll need to prove your identity before information about the 
                person who died can be shared with you.</label>
                <a class="button" href="5-verify" role="button">Continue</a>
              <!--<input class="form-control" name="contact-email" type="text" id="contact-email">-->
            </div>
      
            <div class="multiple-choice" data-target="contact-by-phone">
              <input id="example-contact-by-phone" type="radio" name="radio-contact-group" value="No">
              <label for="example-contact-by-phone">No</label>
            </div>
            <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
              <label class="form-label" for="contact-phone">You don't need to do anything else.</label>
              <!--<input class="form-control" name="contact-phone" type="text" id="contact-phone">-->
            </div>
      
          </fieldset>
        </div>
      </form>

      <div class="form-group">
        <!--<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>-->
      </div>
    </div>
   </div>
</main>

{% endblock %}
