.big-blue-button { 
  background: #005ea5;
  padding: 30px;
  margin-top: 0.3em;
  display: block;
  margin-bottom: 0.75em;
  max-width: 50%; 
}

a.big-blue-button {
  color: #fff;
  text-decoration: none;
  font-size: 36px
}

a:hover.big-blue-button { 
  background: #2b8cc4;
}