{% extends "layout.html" %}

{% set agent = true %}

{% block page_title %}
Prototype service
{% endblock %}

{% block content %}

<main id="content" role="main">

    <br>

  <nav class="nav-bar2">
      <ul>
        <li>
          <a href="1-start" class="">New notification</a>
        </li>
        <li>
          <a href="3-find" class="active">Existing notification</a>
        </li>
      </ul>
    </nav>

  <div class="grid-row">
    <div class="column-two-thirds">
        <h2 class="heading-medium">Deceased’s information</h2>
        <p>You are reviewing details about the death of Jane Smith.</p>
        <table>
            <caption class="heading-medium">Caller’s details</caption>
            <tbody>
              <tr>
                <td>John Smith</td>
              </tr>
              <tr>
                <td>AB123C</td>
              </tr>
              <tr>
                <td>Husband</td>
              </tr>
              <tr>
                <td>72 Guild Street<br />
                  London<br />
                  SE23 6FH</td>
              </tr>
              <tr>
                  <td>01234 567 890</td>
                </tr>
            </tbody>
          </table>

          <table>
              <caption class="heading-medium">Deceased’s details</caption>
              <tbody>
                <tr>
                  <td>Jane Smith</td>
                </tr>
                <tr>
                  <td>DOD: 30 April 2018</td> 5 January 1954
                </tr>
                <tr>
                  <td>NI: QQ 12 34 56 C</td>
                </tr>
                <tr>
                    <td>DOB: 5 January 1954</td> 
                  </tr>
                <tr>
                  <td>72 Guild Street<br />
                    London<br />
                    SE23 6FH</td>
                </tr>
                <tr>
                    <td>Passport: 925665416</td>
                  </tr>
              </tbody>
            </table>
    </div>
   </div>
</main>

{% endblock %}
