{% extends "layout.html" %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight padding-small">
        <h1 class="bold-large m-b-s">Notification complete</h1>
        <p><strong class="heading-small">Your reference number is your National Insurance number</strong></p>
      </div>
      <h2 class="heading-medium">Thank you</h2>
      <p>You do not need to do anything else.</p>
      <h2 class="heading-medium">If you need to contact us</h2>
      <p>Each department will contact you to confirm that they have taken the action outlined on the previous page.</p>
      <p>If you have not heard within 10 days, telephone 01234567890 to speak to an agent. You will be asked to confirm your identity.</p>
      <div class="form-group">
        <!--<p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>-->
      </div>
    </div>
   </div>
</main>

{% endblock %}
