{% extends "layout.html" %}

{% block page_title %}
  Confirmation page example
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box-highlight">
        <h1 class="heading-xlarge">Notification complete</h1>
      </div>
      <h2 class="heading-medium">Thank you</h2>
      <p>You have told us about the death of {{data['first-name-2']}} {{data['last-name-2']}}. You do not need to do anything else.</p>
      <h2 class="heading-medium">What we have done</h2>
      <p>We have informed all government departments who will susped any services and/or benefits that {{data['first-name-2']}} {{data['last-name-2']}} was entitled to.</p>
      <p>When we receive official confirmation of the death, we will inform all government departments who will cancel all services.</p>
      <h2 class="heading-medium">Contacting us</h2>
      <p>If you wish to contact us to check on progress, please telephone 01234567890. You will be asked to confirm your identity.</p>
      <div class="form-group">
        <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">What did you think of this service?</a> (takes 30 seconds)</p>
      </div>
    </div>
   </div>
</main>

{% endblock %}
