{% extends "layout-top-nav.html" %}

{% set agent = true %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol role="breadcrumbs">
      <li><a href="1-start-top-nav">New Notification</a></li>
      <li>Search Results</li>
    </ol>
  </div>
  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-large">Results</h1>
        <ul class="search-results">

            <li class="result">
              <a href="5-formatted" class="result-link highlight">
                Jane Smith
              </a>
              <span class="result-meta">
                Deceased
              </span>
              <span class="result-meta">
                30 April 2018
              </span>
            </li>

        </ul>
    </div>
  </div>

</main>

{% endblock %}