{% extends "layout.html" %}

{% set agent = true %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}


<main id="content" role="main">

  <br>
  <nav class="nav-bar2">
    <ul>
      <li>
        <a href="1-start" class="">New notification</a>
      </li>
      <li>
        <a href="#" class="active">Find notification</a>
      </li>
    </ul>
  </nav>

  <div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">Tell Us About A Death</h1>

        <video width="900" height="auto" controls>
          <source src="http://1810creative.com/dwp/fep-journey.mp4" type="video/mp4">
        </video>
  
        <h2 class="heading-medium" id="tell">Tell Us About A Death</h2>
        <p class="text">A short role-play video showing how a call to an agent is handled in our latest prototype.</p>

        <ul class="list">
          <li>
            <a href="/protos/agent-facing-v3/1-start">
              View prototype
            </a>
          </li>
        </ul>
    </div>
  </div>

</main>

{% endblock %}
