{% extends "layout.html" %}

{% set agent = true %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}

{% include "includes/blue-banner.html" %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">Tell Us About a Death</h1>
            <div class="form-group">
                <a class="button button-start" href="1-start.html" role="button">New notification</a>
            </div>
            <a class="" href="3-find.html" role="">Find an existing notification</a>
         </div>
    </div>

</main>

{% endblock %}
