{% extends "layout.html" %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}


<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} 
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Tell us about a death</h1>
      <p class="lede">When someone dies, any allowances or benefits they received will need to be cancelled.</p>
      <p>As soon as you can, you'll need to provide some details about the person who has died. This may help to prevent overpayment of any benefits they received,
      and fraudulent use of their identity.</p>
      <h2 class="heading-medium">Information you will need to provide</h2>
      <ul class="list list-bullet">
        <li>The name and National Insurance number of the person who died</li>
      </ul>
      <h2 class="heading-medium">Information you may need to provide</h2>
      <p>You may need to provide your name and National Insurance number.</p>

      <a class="button button-start" href="2-details-deceased" role="button">Start now</a>
    </div>
  
</main>

{% endblock %}