{% extends "layout.html" %}

{% block page_title %}
Tell us about a death
{% endblock %}

{% block content %}


<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">You're about to report the death</h1>
      <p class="lede">You've given details about the death of {{data['first-name-2']}} {{data['last-name-2']}}.</p>
      <p>When you're ready, you need to confirm that:</p>
      <ul class="list list-bullet">
        <li>the information you've given is correct</li>
        <li>you agree that this information can be shared with all relevant
          government organisations</li>
        </ul>
      <div class="notice" style="margin-top:50px; margin-bottom:50px">
        <i class="icon icon-important">
          <span class="visually-hidden">Please note</span>
        </i>
        <strong class="bold-small">You could be prosecuted if you deliberately give untrue or misleading information.</strong>
      </div>
      <form method="post" autocomplete="off">
        <div class="form-group">
          <a class="button" href="5a-complete" role="button">I understand &ndash; continue</a>
        </div>
      </form>
    </div>
  </div>

</main>

{% endblock %}
