{% extends "layout.html" %}

{% block page_title %}
  Tell us about a death
{% endblock %}

{% block content %}


<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %} 
  
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">About the person who died</h1>

      <p class="lede">Thank you.</p>

      <p>We have already received a Medical Certificate from the NHS, and we have 
        suspended all relevant government departments.</p>
        
        <div class="panel panel-border-wide">
            <p>
                We must await official confirmation before we can cancel services.
                This comes from the registrar.
            </p>
          </div>
        
      <p>If you would like to receive notification when we have cancelled services,
        we will need some information from you.
      </p>



    
  <form>
    <div class="form-group"><!--
      <label class="form-label" for="file-input">
        <legend><h2 class="heading-medium"> Upload Medical Certificate</h2></legend>
      </label>
        <input type="file" id="file-input">-->
    </div>
    <a class="button" href="details-notifier" role="button">Continue</a>
  </form>

</div>
</div>
  
</main>

{% endblock %}