{% extends "govuk_template.html" %}

{% block head %}
  {% include "includes/head.html" %}
  {% if agent %}
    {% set global_header_text = "DWP" %}
    <style>
      #global-header #logo {
        background: none;
        line-height: .8;
        padding-top: 5px;
      }

      #global-header #logo img {
        display: none;
      }

      #global-header-bar {
        display: none;
      }
    </style>
  {% endif %}
{% endblock %}

{% block cookie_message %}
  <p>{{cookieText | safe }}</p>
{% endblock %}

{% block proposition_header %}
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="/" id="proposition-name">
          {# Set serviceName in config.js. Use a block to override on a page. #}
          {% block service_name %}
            {% if serviceName %} {{ serviceName }} {% endif %}
          {% endblock %}

        </a>
        <form class="search-form" autocomplete="off">
          <div class="form-group search-group ">
            <input type="search" name="findNino" class="form-control form-control-search" id="search-box" autocomplete="off" value="" placeholder="N.I Number">
            {% if topnav %}
              <a class="button-search" href="4-found-top-nav" role="button"><span class="visually-hidden">Search</span></a>
              {% else %}
              <a class="button-search" href="4-found" role="button"><span class="visually-hidden">Search</span></a>
            {% endif %}
          </div>
        </form>
      </nav>
    </div>
  </div>

  <div id="big-blue-header">

  </div>

{% endblock %}

{% block header_class %}
  with-proposition
{% endblock %}

{% block footer_support_links %}
  {% if useAutoStoreData %}
    <ul>
      <li>
        <a href="/prototype-admin/clear-data">Clear data</a>
      </li>
    </ul>
  {% endif %}
{% endblock %}

{% block body_end %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype kit {{releaseVersion}} -->
{% endblock %}
